/* FLOATING */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* ROTATE */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* FADE UP */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* GLOW */
@keyframes glow {

  0% {
    box-shadow:
      0 0 5px rgba(99,102,241,0.3);
  }

  50% {
    box-shadow:
      0 0 25px rgba(99,102,241,0.6);
  }

  100% {
    box-shadow:
      0 0 5px rgba(99,102,241,0.3);
  }
}